.movie_id {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
  background: linear-gradient(to bottom, #000000 0%, #131313 100%);
  color: white;
  padding: 100px 0;
}
.movie_id__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie_id__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 30px;
  grid-gap: 5px;
}

.movie_id__allDetails {
  display: flex;
  flex-direction: column;
  padding: 10px auto;
}

.movie_id__content1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.movie_id__content1 img {
  max-width: 500px;
  align-self: center;
}

.movie_id__content1 p {
  text-align: center;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.movie_id__content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.movie_id__content2 h1 {
  font-size: 5rem;
  text-align: center;
  background: #ff0099; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #493240,
    #ff0099
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #493240,
    #ff0099
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  margin: 0 auto;
}

.movie_id__content2 p span {
  font-size: 1.5rem;
  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.movie_id__content2 p {
  background: #ad5389; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3c1053,
    #ad5389
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3c1053,
    #ad5389
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.movie_id__content2 h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background: #c02425; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f0cb35,
    #c02425
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f0cb35,
    #c02425
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.movie_id__content2 .movie_id--language {
  font-weight: 700;
  background: #c02425; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f0cb35,
    #c02425
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f0cb35,
    #c02425
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-align: center;
}

.movie_id__content2 .movie_id--language .movie_id--language--p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #ad5389; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3c1053,
    #ad5389
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3c1053,
    #ad5389
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.movie_id__content2 .movie_id--language .movie_id--language--p p {
  padding: 0px 10px;
}

.movie_id__details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.movie_id__details p {
  margin: 10px;
  background: #ffb75e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ed8f03,
    #ffb75e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ed8f03,
    #ffb75e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.movie_id__details span {
  font-size: 1.5rem;
  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.movie_id_otherDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movie_id_otherDetails ul {
  font-size: 1rem;
  list-style: none;
  background: #ff0099; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #493240,
    #ff0099
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #493240,
    #ff0099
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.movie_id_otherDetails div {
  font-size: 1.5rem;
  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.movie_id__details--h1 {
  background: #ff0099; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #493240,
    #ff0099
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #493240,
    #ff0099
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.movie_id__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  outline: none;
  border-radius: 4px;
  border: none;
  background: #da22ff;
  background: -webkit-linear-gradient(to right, #9114ff, #da22ff);
  background: linear-gradient(to right, #8f0eff, #da22ff);
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.35s;
  position: relative;
  margin-bottom: 100px;
}

.movie_id__button a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.movie_id__button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  background-color: #06beb6;
  transition: all 0.35s;
  border-radius: 4px;
  height: 100%;
}

.movie_id__button:hover {
  color: #fff;
}

.movie_id__button:hover:after {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .movie_id__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .movie_id__content2 {
    width: 80%;
  }
  .movie_id__content2 h1 {
    font-size: 4rem;
  }
  .movie_id__details {
    flex-direction: column;
  }
  .movie_id_otherDetails {
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  .movie_id__content1 img {
    max-width: 300px;
  }
}

.review {
  background: linear-gradient(to bottom, #000000 0%, #131313 100%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
}

.review h1 {
  background: #ff0099; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #493240,
    #ff0099
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #493240,
    #ff0099
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.review__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

.review__content p {
  font-size: 0.9rem;
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.review__content h4 {
  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
